html, body {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     background-color:#2680B7;
     overflow: hidden;
}
#notify {
     padding: 15px;
     color:#fff;
     position: relative;
}
#notify .close {
     position: absolute;
     top: 3px;
     right: 3px;
     color:#fff;
     font-size:18px;
     width:18px;
     height: 18px;
     display: block;
     overflow: hidden;
     cursor:pointer;
}

#notify .info,
#notify .action {
     width:100%;
     display:block;
     clear:both;
}
#notify .info .logo {
     float:left;
     background-image: url('img/logo.png');
     background-repeat: no-repeat;
     width:48px;
     height: 78px;
}
#notify .info .data {
     padding-left:15px;
     font-size:18px;
     float:left;
     margin-top:-3px;
}
#notify .info .data .name {
     /*font-weight: bold;*/
}
#notify .info .data .event {
     font-weight: normal;
     font-size: 24px;
     padding-top:2px;
     color:#f0f0;
}
#notify .action {
     padding-top:6px;
}
#notify .action .space {
     float: left;
     width: 2%;
     height:30px;
}
#notify .action .button {
     font-size: 24px;
     float:left; 
     width:49%;
     text-align: center;
     cursor: pointer;
     padding-top:15px;
     padding-bottom:15px;
     transition-duration: 0.4s;
     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
     box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
     
}
#notify .action .button.green {
     background-color:#18A079;
}
#notify .action .button.red {
     background-color:#B95659;
}
#notify .action .button:active {
     box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}